/* Diffrent display layout styles */

@media screen and (max-width: 1179px) {

  .container {
    width: 665px;
  }

  /* Header */

  .header {
    width: 750px;
    margin: 0 auto;
  }

  .header__logo {
    position: relative;
    z-index: 2;
  }

  .header__menu-hamburger {
    position: absolute;
    top: 58px;
    right: 0;
    display: block;
    width: 20px;
    height: 14px;
    background-image: url(../images/sprite.png);
    background-position: -160px -144px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    z-index: 2;
  }

  .header__menu-hamburger:hover {
    opacity: 0.5;
  }

  .header__menu {
    display: none;
  }

  .header__menu--open {
    position: absolute;
    top: 0;
    left: -42px;
    display: block;
    width: 750px;
    min-height: 1080px; 
    /* min-height: 800px; */
    font-family: 'museo_sans_cyrl700';
    font-size: 20px;
    padding-top: 366px;
    /* padding-top: 266px; */
    background-color: #fff;
  }

  .header__menu--open + .header__menu-hamburger {
    top: 58px;
    right: 0;
    width: 16px;
    height: 16px; 
    background-position: -160px -168px;
  }

  .header__menu li {
    float: none;
    text-align: center;
    padding-bottom: 9px;
  }

  .header__menu-link {
    display: inline-block;
    vertical-align: top;
    height: auto;
    line-height: 22px;
    margin-bottom: 16px;
  }

  .header__contacts {
    margin-right: 64px;
  }

  .header__contacts--open {
    position: absolute;
    top: 897px; 
    /* top: 617px; */
    left: calc(50% - 146px);
    margin-right: 0;
    z-index: 2;
  }

  .header__contacts--open .header__contacts-email {
    float: none;
    position: absolute;
    top: 77px;
    left: 99px;
  }

  /* Promo */

  .promo {
    width: 750px;
    margin: 0 auto;
    background-image: url(../images/mall_750.png);
    background-repeat: no-repeat;
    background-position: calc(50% - 0px) -130px;
    background-color: #fff;
    color: #fff;
  }

  .promo::before {
    left: calc(50% - -45px);
  }

  .promo h1 {
    top: 41px;
    right: 157px;
    width: 510px;
  }

  .promo h2 {
    top: 302px;
    right: 334px;
    width: 330px;
    font-family: 'museo_sans_cyrl300';
  }

  /* About */

  .about {
    min-height: 657px;
    background-position: center 239px;
  }

  .about h2 {
    padding-bottom: 25px;
  }

  .about p {
    width: 665px;
  }

  .about__service {
    top: 548px;
    left: 0;
    width: 355px;
  }

  .about__service p {
    width: 355px;
  }

  .about__comment {
    top: 499px;
    right: 210px;
  }

  .about__comment p {
    position: absolute;
    top: 70px;
    left: 261px;
    width: 250px;
  }

  .about__comment::before {
    top: -15px;
    left: 171px;
  }

  /* Partnership */

  .partnership {
    top: 1207px;
    width: 750px;
    min-height: 532px;
    margin: 0 auto;
  }

  .partnership::before {
    display: none;
  }

  .partnership__inner {
    float: none;
  }

  .partnership__inner h2,
  .partnership__inner p {
    text-align: center;
  }

  .partnership-form {
    width: 665px;
  }

  .partnership-form input {
    width: 320px;
  }

  .partnership-form__field {
    margin-right: 25px;
  }

  #partnership-form__comment {
    width: 665px;
  }

  .partnership-form input[type="submit"] {
    margin-left: 172px;
  }

  /* How-it-works */

  .how-it-works {
    top: -532px;
    min-height: 1176px;
  }

  .how-it-works::before {
    left: calc(50% - 332px);
    bottom: -32px;
    z-index: -1;
  }

  .how-it-works::after {
    display: none;
  }

  .how-it-works h2 {
    padding-top: 58px;
  }

  .how-it-works__step--1 {
    margin-top: 2px;
    margin-left: 86px;
    margin-right: 144px;
    margin-bottom: 296px;
  }

  .how-it-works__step--2 {
    margin-top: 2px;
    margin-right: 0;
  }

  .how-it-works__step--3 {
    margin-left: 89px;
    margin-right: 105px;
  }

  .how-it-works__advantage {
    left: calc(50% - -10px);
    bottom: -269px;
    width: 355px;
  }

  /* Terminals */

  #terminals__map {
    left: calc(50% - 375px);
    width: 750px;
  }

  .terminals__location {
    left: -42px;
  }

  .terminals__location-button,
  .terminals__location-list {
    width: 750px;
  }

  /* Offer */

  /* Footer */

}

@media screen and (max-width: 664px) {

  .container {
    width: 300px;
  }

  /* Header */

  /* Promo */

  /* About */

  /* Partnership */

  /* How-it-works */

  /* Terminals */

  /* Offer */

  /* Footer */

  /* To top button */

  .upstairs-block {
    display: none;
  }

}