/* Diffrent display layout styles */

@media screen and (max-width: 1179px) {

  .container {
    width: 665px;
  }

  /* Header */

  .header {
    width: 100%;
    /* width: 750px;
    margin: 0 auto; */
  }

  .header::before {
    display: none;
  }

  .header__logo {
    position: relative;
    z-index: 2;
  }

  .header__menu-hamburger {
    position: absolute;
    top: 58px;
    right: 0;
    display: block;
    width: 20px;
    height: 14px;
    background-image: url(../images/sprite.png);
    background-position: -160px -144px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    z-index: 2;
  }

  .header__menu-hamburger:hover {
    opacity: 0.5;
  }

  .header__menu {
    display: none;
  }

  .header__menu--open {
    position: absolute;
    top: 0;
    left: -43px;
    display: block;
    width: 751px;
    /* min-height: 1080px;  */
    min-height: 800px; 
    font-family: 'museo_sans_cyrl700';
    font-size: 20px;
    /* padding-top: 366px; */
    padding-top: 295px; 
    background-color: #fff;
  }

  .header__menu--open + .header__menu-hamburger {
    top: 58px;
    right: 0;
    width: 16px;
    height: 16px; 
    background-position: -160px -168px;
  }

  .header__menu li {
    float: none;
    text-align: center;
    padding-bottom: 9px;
  }

  .header__menu-link {
    display: inline-block;
    vertical-align: top;
    height: auto;
    line-height: 22px;
    margin-bottom: 16px;
  }

  .header__contacts {
    margin-right: 64px;
  }

  .header__contacts--open {
    position: absolute;
    /* top: 897px;  */
    top: 655px; 
    left: calc(50% - 146px);
    margin-right: 0;
    z-index: 2;
  }

  .header__contacts--open .header__contacts-email {
    float: none;
    position: absolute;
    top: 77px;
    left: 99px;
  }

  /* Promo */

  .promo {
    width: 100%;
    /* width: 750px;
    margin: 0 auto; */
    /* background-image: url(../images/mall_750.png);
    background-repeat: no-repeat;
    background-position: calc(50% - 0px) -130px;
    background-color: #fff; */
    color: #fff;


    background-image: url(../images/mall_dark.png), url(../images/bg.png);
    background-repeat: no-repeat, repeat;
    background-position: calc(50% - 64px) -130px, center;
    background-color: #fab500;
  }

  .promo::before {
    left: calc(50% - -45px);
  }

  .promo::after {
    display: none;
  }

  .promo h1 {
    top: 41px;
    right: 157px;
    width: 510px;
  }

  .promo h2 {
    top: 302px;
    right: 334px;
    width: 330px;
    font-family: 'museo_sans_cyrl300';
  }

  /* About */

  .about {
    min-height: 657px;
    background-position: center 239px;
  }

  .about h2 {
    padding-bottom: 25px;
  }

  .about p {
    width: 665px;
  }

  .about__service {
    top: 548px;
    left: 0;
    width: 355px;
  }

  .about__service p {
    width: 355px;
  }

  .about__comment {
    top: 499px;
    right: 210px;
  }

  .about__comment p {
    position: absolute;
    top: 70px;
    left: 261px;
    width: 250px;
  }

  .about__comment::before {
    top: -15px;
    left: 171px;
  }

  /* Partnership */

  .partnership {
    top: 1207px;
    /* width: 750px; */
    width: 100%;
    min-height: 532px;
    margin: 0 auto;
  }

  .partnership::before {
    display: none;
  }

  .partnership__inner {
    float: none;
  }

  .partnership__inner h2,
  .partnership__inner p {
    text-align: center;
  }

  .partnership-form {
    width: 665px;
  }

  .partnership-form input {
    width: 320px;
  }

  .partnership-form__field {
    margin-right: 25px;
  }

  #partnership-form__comment {
    width: 665px;
  }

  .partnership-form input[type="submit"] {
    margin-left: 172px;
  }

  /* How-it-works */

  .how-it-works {
    top: -532px;
    /* min-height: 1176px; */
    height: 1207px;
  }

  .how-it-works::before {
    left: calc(50% - 332px);
    bottom: -1px;
    z-index: -1;
  }

  .how-it-works::after {
    display: none;
  }

  .how-it-works h2 {
    padding-top: 58px;
  }

  .how-it-works__step--1 {
    margin-top: 2px;
    margin-left: 86px;
    margin-right: 144px;
    margin-bottom: 296px;
  }

  .how-it-works__step--2 {
    margin-top: 2px;
    margin-right: 0;
  }

  .how-it-works__step--3 {
    margin-left: 89px;
    margin-right: 105px;
  }

  .how-it-works__advantage {
    left: calc(50% - -10px);
    bottom: -269px;
    width: 355px;
  }

  /* Terminals */

  #terminals__map {
    /* left: calc(50% - 375px);
    width: 750px; */
    left: 0;
    width: 100%;
  }

  .terminals__location {
    left: 0;
    top: 101px;
    width: 100%;
    /* background-color: #fff; */
    /* background-color: #e3e4e8; */
    border-bottom: 1px solid #fff;
  }

  .terminals__location > .container {
    width: 665px;
  }

  .terminals__location::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    display: block;
    width: 100%;
    height: 70px;
    background-color: #fab500;
  }

  .terminals__location-button,
  .terminals__location-list {
    width: 100%;
  }

  .terminals__location-button {
    padding-left: 38px;
  }

  .terminals__location-button::after {
    right: 45px;
  }

  .terminals__location-list li {
    padding-left: 39px;
  }

  /* Offer */

  .offer h2 {
    padding-top: 44px;
    padding-bottom: 170px;
  }

  .offer-item--1 {
    margin-left: 76px;
    margin-bottom: 166px;
  }

  .offer-item--1::before {
    top: -103px;
  }

  .offer-item--2 {
    margin-right: 0;
  }

  .offer-item--2::before {
    top: -110px;
  }

  .offer-item--3 {
    margin-left: 71px;
  }

  .offer-item--3::before {
    top: -118px;
  }

  .offer-item--4::before {
    top: -119px;
  }

  .offer ul {
    margin-bottom: 69px;
  }

  .offer p {
    width: 365px;
    margin: 0 auto;
  }

  .offer p:last-child {
    padding-bottom: 63px;
  }

  /* Footer */

}

@media screen and (max-width: 749px) {

  .container {
    width: 300px;
  }

  /* Header */

  .header {
    position: absolute;
    /* left: calc(50% - 180px);
    width: 360px; */
    width: 100%;
    box-shadow: none;
  }

  .header::before,
  .header::after {
    display: none;
  }

  .header__logo {
    margin-top: 18px;
  }

  .header__logo-link {
    background-position: 0 -144px;
  }

  .header__menu-hamburger {
    top: 30px;
  }

  .header__menu--open {
    left: -30px;
    width: 360px;
    min-height: 568px; 
    /* min-height: 495px; */
    font-size: 15px;
    line-height: 40px;
    /* padding-top: 187px; */
    padding-top: 160px;
  }

  .header__menu li {
    padding-bottom: 0;
  }

  .header__menu-link {
    margin-bottom: 15px;
  }

  .header__menu--open + .header__menu-hamburger {
    top: 30px;
  }

  .header__contacts {
    display: none;
  }

  .header__contacts-phone {
    font-size: 25px;
    text-align: center;
  }

  .header__contacts--open {
    /* top: 441px; */
    top: 355px;
    width: 300px;
  }

  /* Promo */

  .promo {
    overflow: hidden;
    /* width: 360px; */
    width: 100%;
    min-height: 568px;
    margin: 0 auto;
    

    background-image: url(../images/mall_sm.png);
    background-repeat: no-repeat;
    background-position: calc(50% - 0px) -130px;
    background-color: #fff;

    box-shadow: none;
    border-bottom: none;
  }

  .promo::before {
    top: 76px;
    left: calc(50% - 74px);
    transform: scale(0.78);
  }

  .promo::after {
    display: none;
  }

  .promo h1 {
    top: 377px;
    right: 141px;
    width: 159px;
    font-size: 30px;
    line-height: 36px;
  }

  .promo h2 {
    top: 505px;
    right: 1px;
    width: 300px;
    font-size: 16px;
  }

  /* About */

  .about {
    min-height: 764px;
    background-size: 316px 107px;
    background-position: center 267px;
  }

  .about h2 {
    padding-top: 23px;
  }

  .about p {
    width: 292px;
    font-size: 14px;
    line-height: 22px;
  }

  .about__service {
    top: 403px;
    left: 0;
    width: 300px;
    text-align: center;
  }

  .about__comment {
    width: 248px;
    text-align: center;
  }

  .about__comment::before {
    top: 14px;
    left: 271px;
  }

  .about__comment p {
    top: 193px;
    left: 180px;
    width: 254px;
    font-size: 14px;
    line-height: 18px;
  }

  /* Partnership */

  .partnership {
    top: 1910px;
    /* width: 360px; */
    width: 100%;
  }

  .partnership::after {
    position: absolute;
    top: -245px;
    /* left: -35px; */
    content: "";
    display: block;
    /* width: 360px; */
    width: 100%;
    height: 245px;
    background-color: #f6e5b6;
    z-index: -1;
  }

  .partnership__inner h2 {
    padding-top: 34px;
  }

  .partnership__inner p {
    line-height: 20px;
    padding-bottom: 20px;
  }

  .partnership-form {
    width: 300px;
  }

  .partnership-form__field {
    float: none;
    margin-right: 0;
  }

  .partnership-form input {
    width: 300px;
  }

  #partnership-form__comment {
    width: 300px;
  }

  .partnership-form input[type="submit"] {
    width: 300px;
    margin-left: 0;
    margin-bottom: 44px;
  }

  /* How-it-works */

  .how-it-works {
    top: -633px;
    min-height: 1911px;
  }

  .how-it-works::before {
    left: calc(50% - 128px);
    bottom: 96px;
    transform: scale(0.57);
    z-index: 3;
  }

  .how-it-works h2 {
    padding-bottom: 278px;
  }

  .how-it-works__step--1 {
    margin-left: 50px;
    margin-right: 0;
  }

  .how-it-works__step--2 {
    margin-top: 0;
    margin-left: 71px;
  }

  .how-it-works__step--2::before {
    left: -27px;
  }

  .how-it-works__step--3 {
    margin-top: 298px;
    margin-left: 47px;
    margin-right: 0;
  }

  .how-it-works__step--3::before {
    left: -3px;
  }

  .how-it-works__step--4 {
    margin-top: 298px;
    margin-left: 65px;
  }

  .how-it-works__step--4::before {
    left: -21px;
  }

  .how-it-works__advantage {
    position: relative;
    left: calc(50% - 150px);
    bottom: -238px;
    width: 300px;
    text-align: center;
  }

  /* .how-it-works__advantage::before {
    position: absolute;
    top: -118px;
    left: -35px;
    content: "";
    display: block;
    width: 360px;
    height: 245px;
    background-color: #f6e5b6;
    z-index: -1;
  } */

  /* Terminals */

  .terminals {
    min-height: 650px;
  }

  .terminals h2 {
    width: 280px;
    font-size: 25px;
    margin: 0 auto;
    padding-top: 16px;
    padding-bottom: 7px;
  }

  #terminals__map,
  .terminals__location-button, 
  .terminals__location-list {
    /* width: 360px; */
    width: 100%;
  }

  .terminals__location {
    top: 79px;
    /* left: -30px; */
    left: 0;
  }

  .terminals__location > .container {
    width: 300px;
  }

  .terminals__location-button {
    padding-left: 29px;
  }

  .terminals__location-button::after {
    right: 30px;
  }

  .terminals__location-list {
    height: 500px;
  }

  .terminals__location-list li {
    padding-left: 29px;
  }

  .terminals__map-mask {
    height: 569px;
  }

  #terminals__map {
    /* left: calc(50% - 180px); */
    height: 569px;
  }

  /* Offer */

  .offer {
    /* width: 360px;
    margin: 0 auto; */
    width: 100%;
  }

  .offer h2 {
    padding-top: 64px;
    padding-bottom: 160px;
  }

  .offer ul {
    margin-bottom: 40px;
  }

  .offer-item--1 {
    margin-left: 63px;
    margin-right: 0;
    margin-bottom: 153px;
  }

  .offer-item--1::before {
    top: -93px;
  }

  .offer-item--2 {
    margin-left: 57px;
    margin-bottom: 151px;
  }

  .offer-item--2::before {
    top: -101px;
  }

  .offer-item--3 {
    margin-left: 61px;
    margin-right: 0;
    margin-bottom: 153px;
  }

  .offer-item--3::before {
    top: -98px;
  }

  .offer-item--4 {
    margin-left: 18px;
  }

  .offer-item--4::before {
    top: -100px;
  }

  .offer p {
    width: 296px;
    font-size: 24px;
    line-height: 31px;
  }

  .offer p:last-child {
    padding-bottom: 38px;
  }

  /* Footer */

  .footer {
    /* width: 360px;
    margin: 0 auto; */
    width: 100%;
  } 

  .footer__social {
    width: 300px;
    padding-left: 9px;
  }

  .footer__social li {
    margin-right: 20px;
  }

  /* To top button */

  .upstairs-block {
    display: none;
  }

}

@media screen and (max-width: 359px) {

  /* Header */

  .header__menu--open {
    left: -10px;
    width: 320px;
  }

  /* Terminals */

  /* #terminals__map,
  .terminals__location-button, 
  .terminals__location-list {
    width: 320px;
  }
  
  .terminals__location {
    left: -10px;
  }
  
  #terminals__map {
    left: calc(50% - 160px);
  } */

}