@font-face {
  font-family: 'museo_sans_cyrl100';
  src: url('../fonts/museosanscyrl_100-webfont.woff2') format('woff2'),
       url('../fonts/museosanscyrl_100-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'museo_sans_cyrl300';
  src: url('../fonts/museosanscyrl_300-webfont.woff2') format('woff2'),
       url('../fonts/museosanscyrl_300-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'museo_sans_cyrl500';
  src: url('../fonts/museosanscyrl_500-webfont.woff2') format('woff2'),
       url('../fonts/museosanscyrl_500-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'museo_sans_cyrl700';
  src: url('../fonts/museosanscyrl_700-webfont.woff2') format('woff2'),
       url('../fonts/museosanscyrl_700-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'museo_sans_cyrl900';
  src: url('../fonts/museosanscyrl_900-webfont.woff2') format('woff2'),
       url('../fonts/museosanscyrl_900-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  max-width: 1890px;
  font-family: 'museo_sans_cyrl500', sans-serif;
  font-size: 15px;
  margin: 0 auto;
  padding: 0;
  color: #000;
}

h1, h2, h3 {
  margin: 0;
}

h2 {
  font-family: 'museo_sans_cyrl500';
  font-size: 30px;
  font-weight: 300;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

a {
  outline: none;
}

a[href^=tel] {
  text-decoration: none;
  color: #000;
}

::-webkit-scrollbar {
    width: 4px;
    padding-right: 9px;
}

::-webkit-scrollbar-track {
    background: #fff;
}

::-webkit-scrollbar-thumb {
    color: #f9b500;
    background: #f9b500;
}

.container {
  position: relative;
  width: 1180px;
  margin: 0 auto;
}

.nowrap {
  white-space: nowrap;
}

/* Header */

.header {
  position: relative;
  min-height: 130px;
  box-shadow: 0 0 8px #c3c3c3; 
  z-index: 2;
}

.header::before {
  position: absolute;
  top: 0;
  right: -10px;
  content: "";
  display: block;
  width: 10px;
  height: 800px;
  background-color: #fff;
  z-index: 2;
}

.header::after {
  position: absolute;
  top: 127px;
  left: 0;
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #dcdcdc;
  z-index: -1;
} 

.header__logo,
.header__menu {
  float: left;
}

.header__logo {
  margin-top: 16px;
  margin-right: 70px;
}

.header__logo-link {
  display: block;
  width: 150px;
  height: 99px;
  font-size: 0;
  background-image: url("../images/sprite.png");
  background-position: 0 0;
}

.header__menu {
  font-family: 'museo_sans_cyrl900';
  font-size: 14px;
  text-transform: uppercase;
}

.header__menu ul {
  overflow: hidden;
}

.header__menu li {
  float: left;
  padding: 0 10px;
}

.header__menu-link {
  display: block;
  height: 130px;
  line-height: 130px;
  text-decoration: none;
  text-transform: uppercase;
  border-bottom: 3px solid transparent;
  color: #000;
}

.header__menu-link--active,
.header__menu-link:hover {
  border-bottom: 3px solid #ed1b24;
}

.header__contacts {
  float: right;
}

.header__contacts-phone {
  font-family: 'museo_sans_cyrl900';
  font-size: 30px;
  margin-top: 42px;
}

.header__contacts-email {
  float: right;
  font-family: 'museo_sans_cyrl700';
  font-size: 12px;
  line-height: 12px;
  color: #f9b500;
}

.header__contacts-email:hover {
  opacity: 0.5;
}

/* Promo */

.promo {
  position: relative;
  clear: both;
  min-height: 670px;
  background-image: url("../images/mall.png"), url("../images/bg.png");
  background-repeat: no-repeat, repeat;
  background-position: calc(50% - 486px) -130px, center;
  background-color: #fab500;
  border-bottom: 3px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 8px #c3c3c3;
}

.promo::before {
  position: absolute;
  top: 167px;
  left: calc(50% - 376px);
  content: "";
  display: block;
  width: 307px;
  height: 482px;
  background-image: url("../images/terminal-top.png");
}

.promo::after {
  position: absolute;
  top: -130px;
  left: -10px;
  content: "";
  display: block;
  width: 10px;
  height: 800px;
  background-color: #fff;
  z-index: 2;
}

.promo h1,
.promo h2 {
  position: absolute;  
}

.promo h1 {
  top: 151px;
  right: 0;
  width: 585px;
  font-family: 'museo_sans_cyrl900';
  font-size: 60px;
  font-weight: 900;
  line-height: 72px;
}

.promo h2 {
  top: 332px;
  right: 205px;
  width: 380px;
  line-height: 36px;
  text-align: left;
}

/* About */

.about {
  position: relative;
  min-height: 771px;
  text-align: center;
  background-image: url("../images/coins.jpg");
  background-repeat: no-repeat;
  background-position: center 224px;
}

.about h2 {
  padding-top: 53px;
  padding-bottom: 25px;
}

.about p {
  width: 1170px;
  font-size: 18px;
  line-height: 24px;
  margin: 0 auto;
}

.about__comment {
  position: absolute;
  top: 556px;
  right: 338px;
  width: 200px;
  text-align: left;
}

.about__comment::before {
  position: absolute;
  top: -85px;
  left: -91px;
  content: "";
  display: block;
  width: 71px;
  height: 164px;
  background-image: url("../images/sprite.png");
  background-position: -524px 0;
}

.about__comment p {
  width: 250px;
  font-size: 15px;
  line-height: 19px;
}

/* Partnership */

.partnership {
  position: relative;
  min-height: 531px;
  background-image: url("../images/bg.png");
  background-color: #fab500;
}

.partnership::before {
  position: absolute;
  top: -157px;
  left: calc(50% - 512px);
  content: "";
  display: block;
  width: 386px;
  height: 637px;
  background-image: url("../images/terminal-middle.png");
}

.partnership__inner {
  float: right;
}

.partnership__inner h2 {
  padding-top: 74px;
}

.partnership__inner p {
  font-weight: 700;
  padding-bottom: 28px;
}

.partnership-form {
  width: 580px;
}

.partnership-form__field {
  float: left;
  margin-right: 20px;
  margin-bottom: 10px;
}

.partnership-form__field:nth-of-type(even) {
  margin-right: 0;
}

.partnership-form label {
  display: block;
  font-family: 'museo_sans_cyrl700';
  font-size: 14px;
  padding-bottom: 8px;
}

.partnership-form input {
  width: 280px;
  height: 42px;
  font-family: 'museo_sans_cyrl700';
  font-size: 14px;
  line-height: 60px;
  padding: 0 10px;
  color: #333;
  background-color: #fff;
  border: 3px solid #fff;
  outline: none;
}

.partnership-form input:focus {
  border: 3px solid #ed1c24;
}

.partnership-form input[type="submit"] {
  width: 328px;
  height: 60px;
  font-family: 'museo_sans_cyrl700';
  font-size: 16px;
  line-height: 60px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 20px;
  margin-left: 124px;
  background-color: #ed1c24;
  color: #fff;
  border: none;
  border-radius: 30px;
  box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.partnership-form input[type="submit"]:hover {
  opacity: 0.8;
}

#partnership-form__comment {
  width: 580px;
}

/* How-it-works */

.how-it-works {
  position: relative;
  /* min-height: 819px; */
  min-height: 788px;
  text-align: center;
}

.how-it-works::before {
  position: absolute;
  left: calc(50% - 366px);
  bottom: -29px;
  content: "";
  display: block;
  width: 254px;
  height: 325px;
  background-image: url("../images/sprite.png");
  background-position: -259px -94px;
  z-index: 2;
}

.how-it-works::after {
  position: absolute;
  top: 666px;
  left: 0;
  content: "";
  display: block;
  width: 100%;
  height: 151px;
  background-color: #fab500;
}

.how-it-works h2 {
  padding-top: 53px;
  padding-bottom: 307px;
}

.how-it-works ul {
  text-align: left;
  margin-bottom: 30px;
}

.how-it-works__step {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 200px;
  font-family: 'museo_sans_cyrl500';
  line-height: 18px;
  text-align: center;
}

.how-it-works__step::before {
  position: absolute;
  top: -253px;
  content: "";
  display: block;
  width: 210px;
  height: 227px;
}

.how-it-works__step--1 {
  width: 192px;
  margin-left: 38px;
  margin-right: 144px;
}

.how-it-works__step--1::before {
  left: -5px;
  background-image: url("../images/how-it-work_1.png");
}

.how-it-works__step--2 {
  width: 152px;
  margin-right: 107px;
}

.how-it-works__step--2::before {
  left: -45px;
  background-image: url("../images/how-it-work_2.png");
}

.how-it-works__step--3 {
  width: 202px;
  margin-right: 106px;
}

.how-it-works__step--3::before {
  left: -8px;
  background-image: url("../images/how-it-work_3.png");
}

.how-it-works__step--4 {
  width: 165px;
}

.how-it-works__step--4::before {
  left: -19px;
  background-image: url("../images/how-it-work_4.png");
}

.how-it-works__comment,
.how-it-works__advantage {
  position: absolute;
  font-size: 18px;
  line-height: 24px;
  text-align: left;
}

.how-it-works__comment {
  left: calc(50% - -7px);
  bottom: -138px;
  width: 380px;
}

.how-it-works__advantage {
  left: calc(50% - -9px);
  bottom: -316px;
  width: 431px;
  font-family: 'museo_sans_cyrl900';
  z-index: 2;
}

/* Terminals */

.terminals {
  position: relative;
  min-height: 870px;
}

.terminals h2 {
  text-align: center;
  padding-top: 34px;
  padding-bottom: 33px;
}

.terminals iframe {
  position: absolute;
  /* position: absolute;
  left: calc(50% - 945px); */
  width: 100%;
  max-width: 1890px;
  height: 800px;
}

.terminals__location {
  position: absolute;
  top: 0;
}

.terminals__location-button {
  position: relative;
  display: inline-block;
  width: 300px;
  height: 70px;
  font-family: 'museo_sans_cyrl700';
  font-size: 14px;
  line-height: 70px;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 1px;
  outline: none;
  padding-left: 28px;
  border: none;
  border-bottom: 1px solid #fff;
  background-color: #fab500;
  color: #fff;
  cursor: pointer;
}

.terminals__location-button::after {
  position: absolute;
  top: 31px;
  right: 32px;
  content: "";
  display: block;
  width: 15px;
  height: 9px;
  background-image: url("../images/sprite.png");
  background-position: -576px -168px;
}

.terminals__location-button--close::after {
  transform: rotate(180deg);
}

.terminals__location-list {
  overflow-y: scroll;
  overflow-x: hidden;
  width: 300px;
  height: 730px;
  font-size: 14px;
  line-height: 16px;
  background-color: #e3e4e8;
  color: #212121;
}

.terminals__location-list li {
  padding-top: 20px;
  padding-left: 27px;
  padding-right: 27px;
  padding-bottom: 21px;
  cursor: pointer;
}

.terminals__location-list li:hover {
  background-color: #cfd0d4;
}

p.mall-name {
  text-transform: uppercase;
}

p.mall-address {
  line-height: 21px;
}

/* Offer */

.offer {
  min-height: 600px;
  text-align: center;
  background-color: #fab500;
}

.offer h2 {
  padding-top: 64px;
  padding-bottom: 190px;
}

.offer ul {
  text-align: left;
  margin-bottom: 79px;
}

.offer-item {
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  line-height: 18px;
}

.offer-item::before {
  position: absolute;
  content: "";
  display: block;
  background-image: url("../images/sprite.png");
}

.offer-item--1 {
  width: 175px;
  margin-left: 48px;
  margin-right: 120px;
}

.offer-item--1::before {
  top: -123px;
  left: 52px;
  width: 72px;
  height: 70px;
  background-position: -442px -9px;
}

.offer-item--2 {
  width: 185px;
  margin-right: 109px;
}

.offer-item--2::before {
  top: -130px;
  left: 54px;
  width: 76px;
  height: 83px;
  background-position: -160px 0;
}

.offer-item--3 {
  width: 175px;
  margin-right: 84px;
}

.offer-item--3::before {
  top: -128px;
  left: 47px;
  width: 84px;
  height: 79px;
  background-position: -352px 0;
}

.offer-item--4 {
  width: 262px;
}

.offer-item--4::before {
  top: -128px;
  left: 80px;
  width: 104px;
  height: 82px;
  background-position: -242px 0;
}

.offer p {
  font-family: 'museo_sans_cyrl700';
  font-size: 30px;
  line-height: 36px;
}

.offer strong {
  font-family: 'museo_sans_cyrl900';
}

/* Footer */

.footer {
  min-height: 226px;
  text-align: center;
  background-color: #2a2b2d;
  color: #fff;
}

.footer h3 {
  width: 260px;
  font-family: 'museo_sans_cyrl300';
  font-size: 16px;
  line-height: 28px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 14px;
}

.footer a {
  color: #fff;
}

.footer__social {
  overflow: hidden;
  width: 366px;
  margin: 0 auto;
  margin-bottom: 32px;
}

.footer__social li {
  float: left;
  margin-right: 40px;
}

.social-link {
  position: relative;
  display: inline-block;
  font-size: 0;
  background-image: url("../images/sprite.png");
}

.social-link:hover {
  opacity: 0.5;
}

.social-link--vk {
  width: 34px;
  height: 23px;
  background-position: -6px -110px;
}

.social-link--fb {
  top: -3px;
  left: 16px;
  width: 15px;
  height: 28px;
  background-position: -185px -106px;
}

.social-link--tw {
  top: -3px;
  left: 29px;
  width: 42px;
  height: 29px;
  background-position: -47px -107px;
}

.social-link--ig {
  top: -3px;
  left: 35px;
  width: 29px;
  height: 29px;
  background-position: -95px -107px;
}

.social-link--gp {
  top: -1px;
  left: 41px;
  width: 40px;
  height: 25px;
  background-position: -133px -107px;
}

.footer__offer {
  font-size: 15px;
}

.footer__offer a:hover {
  opacity: 0.8;
}