* {
  box-sizing: border-box;
}

body {
  /* font-family: 'proxima_nova_rgregular';
  font-size: 15px;
  font-weight: 400; */
  margin: 0;
  padding: 0;
  color: #000;
}

h1, h2, h3 {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

a {
  outline: none;
}

a[href^=tel] {
  text-decoration: none;
  color: #000;
}

::-webkit-scrollbar {
    width: 4px;
    padding-right: 9px;
}

::-webkit-scrollbar-track {
    background: #fff;
}

::-webkit-scrollbar-thumb {
    color: #ccc;
    background: #ccc;
}

.container {
  position: relative;
  width: 1180px;
  margin: 0 auto;
}

.nowrap {
  white-space: nowrap;
}

/* Header */

.header {
  position: relative;
  overflow: hidden;
  min-height: 130px;
  box-shadow: 0 0 10px #333;
}

.header::after {
  position: absolute;
  top: 127px;
  left: 0;
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #dcdcdc;
  z-index: -1;
}

.header__logo,
.header__menu {
  float: left;
}

.header__menu ul {
  overflow: hidden;
}

.header__menu li {
  float: left;
}

.header__menu-link {
  display: block;
  height: 130px;
  line-height: 130px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0 10px;
  border-bottom: 3px solid transparent;
  color: #000;
}

.header__menu-link--active,
.header__menu-link:hover {
  border-bottom: 3px solid #ed1b24;
}

.header__contacts {
  float: right;
}

.header__contacts-phone {
  font-size: 30px;
}

.header__contacts-email {
  color: #ffb300;
}

.header__contacts-email:hover {
  opacity: 0.5;
}



/* Promo */

.promo {
  position: relative;
  clear: both;
  min-height: 670px;
  background-color: #fab500;
  border-bottom: 3px solid #e09f03;
}

.promo h1 {
  font-size: 40px;
}

.promo h1,
.promo h2 {
  position: absolute;
  right: 0;
  width: 350px;
}

.promo h1 {
  top: 40px;
}

.promo h2 {
  top: 200px;
}

/* About */

.about {
  position: relative;
  min-height: 771px;
  text-align: center;
}

.about h2 {
  padding-top: 100px;
  padding-bottom: 50px;
}

.about__comment {
  position: absolute;
  top: 400px;
  right: 100px;
  width: 200px;
  text-align: left;
}

/* Partnership */

.partnership {
  min-height: 531px;
  background-color: #fab500;
}

.partnership__inner {
  float: right;
}

.partnership-form {
  width: 580px;
}

.partnership-form__field {
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
}

.partnership-form label {
  display: block;
}

#partnership-form__comment {
  width: 580px;
}

/* How-it-works */

.how-it-works {
  position: relative;
  min-height: 819px;
  text-align: center;
}

.how-it-works::after {
  position: absolute;
  top: 668px;
  left: 0;
  content: "";
  display: block;
  width: 100%;
  height: 151px;
  background-color: #fab500;
}

.how-it-works li {
  display: inline-block;
  vertical-align: top;
  width: 200px;
}

/* Terminals */

.terminals {
  position: relative;
  min-height: 900px;
}

.terminals h2 {
  line-height: 100px;
  text-align: center;
}

.terminals iframe {
  position: relative;
  left: calc(50% - 960px);
}

.terminals__location {
  position: absolute;
  top: -800px;
}

.terminals__location-button {
  display: inline-block;
  width: 180px;
  height: 70px;
  outline: none;
  border: none;
  border-bottom: 1px solid #fff;
  background-color: #fab500;
  color: #fff;
  cursor: pointer;
}

.terminals__location-list {
  overflow-y: scroll;
  width: 180px;
  height: 730px;
  background-color: #e3e4e8;
}

.terminals__location-list li {
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
  cursor: pointer;
}

.terminals__location-list li:hover {
  background-color: #cfd0d4;
}

/* Offer */

.offer {
  min-height: 600px;
  text-align: center;
  background-color: #fab500;
}

.offer li {
  display: inline-block;
  vertical-align: top;
  width: 200px;
}

.offer p {
  font-size: 30px;
}

/* Footer */

.footer {
  min-height: 226px;
  text-align: center;
  background-color: #2a2b2d;
  color: #fff;
}

.footer a {
  color: #fff;
}

.footer__social li {
  display: inline-block;
  vertical-align: top;
}